<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="mystyle.css">

    <title>Music App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if !current_user.nil? %>
    <ul>
      <li>Logged in as : <%= current_user.email %> </li>
        <form action="<%= session_url %>" method="post">
          <input type="hidden" name= "authenticity_token" value = "<% form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign Out">
        </form>
    <% else %>
        <form action="<%= new_session_url %>" method="GET">
          <input type="hidden" name= "authenticity_token" value = "<% form_authenticity_token %>">
        <input type="submit" value="Sign In">
        </form>
      <%end%>
  <body>

    <%= yield %>
  </body>
</html>
